/* css reset | @yojeero | https://github.com/yojeero */
*,::after,::before{box-sizing:border-box}html{box-sizing:border-box;font-size:100%;line-height:1.3;text-size-adjust:100%}body{height:100vh}img,picture{max-width:100%;display:block}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}button,h1,h2,h3,h4,input,label{line-height:1.1}h1,h2,h3,h4,h5,h6{text-wrap:balance;font-size:inherit;font-weight:inherit}button,input,select,textarea{font-family:inherit;font-size:inherit}ol,ul{list-style:none;margin:0;padding:0}a{color:currentColor;cursor:pointer;text-decoration:none}

/* Fonts */

@font-face
{
	font-family : 'Jost';
	font-weight : 400;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/jost-latin-regular.woff2') format('woff2');
}

@font-face
{
	font-family : 'Jost';
	font-weight : 300;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/jost-latin-300.woff2') format('woff2');
}

@font-face
{
	font-family : 'Mabgate-Regular';
	font-weight : 400;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/Mabgate-Regular.woff2') format('woff2');
}

/*  main  */

body
{
	font-family : Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size : 1rem;
	font-weight : 400;
	line-height : 1.6;

	margin : 0;
	padding : 0;

	color : #262626;   
	background : url(../img/bg.svg) no-repeat center, #f5f5f5;
	background-size : cover;
}

.page
{
	display : grid;

	width : 100%;
	max-width : 1920px;
	height : 100%;
	min-height : 100vh;
	max-height : 1080px;

	margin : auto;

	grid-template-areas : 'main sidebar';
	grid-template-columns : 2fr 1fr;
	place-items : center;
}

.main
{
	display : grid;

	width : 100%;
	height : 100vh;
	max-height : 1080px;	

	background : url(../img/walk.svg) no-repeat center, #fafafa;
	background-size : cover;

	border-radius: 6px;

	grid-area : main;
}

.about
{
	display : grid;

	place-items: center;
	padding : 2rem;
	margin-left: 6rem;

	grid-template-columns: 220px 1fr;
}

.about img
{
	width : 200px;
	height : 200px;

	border-radius : 50%;

	object-fit : cover;
}

.about .h1
{
	padding: 2rem;
	
	font-family: Mabgate-Regular, sans-serif;
	font-size : 4rem;
	font-weight : 400;
	line-height : 1;
}

/* .about svg
{
	width : 2rem;
	height : 2rem;

	fill : none;
	stroke: #e5e5e5;
} */

/*  aside  */

.sidebar
{
	display : grid;

	width : 100%;
	height : 100%;
	max-height : 1080px;

	background : #fff;
	border-radius: 6px;

	grid-area : sidebar;
	grid-template-columns : 1fr;
	grid-template-rows : 1fr auto minmax(20%,1fr) 20%;
}

.txt-card
{
	font-size : 1.25rem;

	display : grid;

	margin : auto;
	padding : 2rem 4rem;

	color : #a3a3a3;

	grid-auto-rows : min-content;
}

.txt-card div
{	
	margin-top : .5rem;
	margin-bottom : .5rem;
}

.txt-card a
{
	font-family : Mabgate-Regular, sans-serif;
	color : #171717;
}

.txt-card a:hover ,
.txt-card a:focus
{
	cursor : pointer;
	transition : all .3s;

	color : #06b6d4;
}

.txt-label
{
	font-size : 1.25rem;
	font-variant : small-caps;
	line-height : 4.625rem;

	display : grid;

	height : 4.625rem;
	padding-left : 4rem;

	letter-spacing : .07rem;

	background : #fafafa;
}

.shot
{
	display : grid;
	user-select : none;
}

.shot img
{
	width : 100%;
}

/*  radio player  */

.audio-player
{
	display : grid;

	width : 100%;

	text-align : right;
	border-radius: 6px;

	background : #fff;

	grid-template-columns : auto auto;
	place-items : center;
}

.player-controls
{
	display : grid;

	grid-auto-flow : column;
	place-items : center;
}

.player-controls #playAudio svg
{
	display : grid;
	align-items : center;

	width : 4.625rem;
	height : 4.625rem;

	cursor : pointer;
	fill: none;
	stroke: #cbd5e1;

	box-shadow: 1px 1px 6px #fafafa;
	border-radius: 50%;
	background: transparent;
}

.player-controls #playAudio svg:hover ,
.player-controls #playAudio svg:focus
{
	transition: all .5s ease-in-out;
	transform : scale(1.1);
}

.player-controls #currentTime
{
	font-size : 1.125rem;
	font-variant : small-caps;
	line-height : 1;

	margin : 0 2rem;
	color : #cbd5e1;

	letter-spacing : .04rem;
}

.player-controls #currentTime svg
{
	width : 1.5rem;
	height : 1.5rem;

	fill : #000;
	stroke : #000;
}

.audio-info
{
	display : grid;
	align-items : stretch;
}

.audio-info p
{
	line-height : 1;
	font-size : 1.125rem;
	
	font-variant : small-caps;

	margin : 0;
	padding : 0;

	text-align : right;
	letter-spacing : 2px;
}

/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #f5f5f5;
}

.loader svg
{
	display : flex;

	width : 3rem;
	height : 3rem;

	fill : #06b6d4;
	stroke : #06b6d4;
}

/* responsive */

@media screen and (max-width: 64rem ) /*  screen max 1024px  */

{

.page
{
	grid-template-areas : 'main' 'sidebar';
	grid-template-columns : 1fr;

	padding : 1rem;
}

.main
{
	display : grid;
	order : 1;

	width : 100%;
	max-height : 660px;

	grid-template-columns : 1fr;
}

.about
{
	margin : auto;
	grid-template-columns : 1fr;
}

.sidebar
{
	display : grid;
	order : 2;

	width : 100%;
	max-height : none;
}

.txt-card
{
	padding : 2rem;
}

.player
{
	padding : 2rem;
}

.txt-label
{
	padding-left : 2rem;
}

}

/*  desktop wild and tv */

@media screen and (min-width: 120rem) /*  screen max 1920px   */

{

.sidebar
{
	box-shadow : 10px 0 8px -8px rgba(0, 0, 0, .2);
}

}
