/* css reset | @yojeero | https://github.com/yojeero */

*, *::before, *::after { box-sizing: border-box; } 
html { box-sizing: border-box; font-size: 100%; line-height: 1.3; text-size-adjust: 100%; } 
body { height: 100vh; } 

img, picture { max-width: 100%; display: block; } 
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre { margin: 0; }

h1, h2, h3, h4, button, input, label { line-height: 1.1; } 
h1, h2, h3, h4, h5, h6 {  text-wrap: balance; font-size: inherit; font-weight: inherit; }

input, button, textarea, select { font-family: inherit; font-size: inherit; } 

ol, ul { list-style: none; margin: 0; padding: 0; }
a { color: currentColor; cursor: pointer; text-decoration: none; }

/*  main  */

body
{
	font-family : Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size : 1rem;
	font-weight : 300;
	line-height : 1.6;

	margin : 0;
	padding : 0;

	color : #343434;
    background : url(../img/wall.svg) no-repeat center, #f4f5f3;
    background-size: cover;
}

.page
{
	display : grid;

	width : 100%;
	max-width : 1920px;
	height : 100%;
	min-height : 100vh;
	max-height : 1080px;

	margin : auto;

	grid-template-areas : 'main sidebar';
	grid-template-columns : 2fr 1fr;
	place-items : center;
}

.main
{
	display : grid;

	width : 100%;
	height : 100vh;
	max-height : 1080px;

	background : url(../img/bg.svg) no-repeat center;
	background-size : cover;

	grid-area : main;
}

.about
{
	display : grid;
	align-self : end;

	margin : 0 0 8em 8em;

	grid-template-rows : 220px max-content;
	justify-items : start;
}

.about img
{
	width : 200px;
	height : 200px;

	border-radius : 50%;

	object-fit : cover;
}

.about div
{
	margin-left : 2rem;
	padding : .4rem 2rem;

	border-radius : 3px;
}

.about div a
{
	font-size : 1.25rem;
	font-weight : 400;
	font-variant : small-caps;

	letter-spacing : 1px;

	color : #fff;
}

.about .social a
{
	font-size : 1.25rem;
	font-weight : 400;
	font-variant : small-caps;

	letter-spacing : .2rem;

	color : #74b4d0;
}

.name
{
	background-color : #45d9db;
}

.name:hover ,
.name:focus
{
	transition : all .3s;

	color : #fff;
	border : none;
	outline : none;
	background : #74b4d0;
}

.skill
{
	margin : 4px 0 4px;

	background-color : #74b4d0;
}

.social
{
	background-color : #fff;
}

.social a
{
    color : #74b4d0;
}

.social a:hover ,
.social a:focus
{
	color : #fff;
}

.skill:hover ,
.skill:focus ,
.social:hover ,
.social:focus
{
	transition : all .3s;

	border : none;
	outline : none;
	background : #45d9db;
}

/*  aside  */

.sidebar
{
	display : grid;

	width : 100%;
	height : 100%;
	max-height : 1080px;

	background : #fff;

	grid-area : sidebar;
	grid-template-columns : 1fr;
	grid-template-rows : 1fr 4.625rem auto 180px;
}

.txt-card
{
	font-size : 1.25rem;

	display : grid;
	order : 1;

	margin : auto;
	padding : 2rem 4rem;

	grid-auto-rows : min-content;
}

.txt-card div
{	
	margin-top : .5rem;
	margin-bottom : .5rem;
}

.txt-card a
{
	color : #74b4d0;
}

.txt-card a:hover ,
.txt-card a:focus
{
	font-size : 1.125rem;

	padding : 4px 8px;

	cursor : pointer;
	transition : all .3s;
	transform : scale(.1, 1);

	color : #fff;
	border-radius : 45px;
	background : #45d9db;
	box-shadow : 0 2px 8px rgba(0, 0, 0, .2);
}

.txt-label
{
	font-size : 1.25rem;
	font-variant : small-caps;
	line-height : 4.625rem;

	display : grid;
	display : grid;
	order : 2;

	height : 4.625rem;
	padding-left : 4rem;

	letter-spacing : .07rem;

	color : #ebddbe;
	background : #c7a64d;
}

.shot
{
	display : grid;
	order : 3;

	user-select : none;
}

.shot img
{
	width : auto;
	min-height : 20%;

	object-fit : cover;
}

/*  radio player  */

.audio-player
{
	display : grid;
	order : 4;

	min-height : 20%;
	max-height : 200px;

	text-align : right;

	background : #124559;

	grid-template-columns : auto auto;
	place-items : center;
}

.player-controls
{
	display : grid;

	grid-auto-flow : column;
	place-items : center;
}

.player-controls #playAudio
{
	display : grid;
	align-items : center;

	width : 3.75rem;
	height : 3.75rem;

	cursor : pointer;
	transition : .3s;

	background-image: url(../img/play.svg);
}

.player-controls #playAudio:hover ,
.player-controls #playAudio:focus
{
	transform : scale(1.2);
}

.player-controls #playAudio.pause
{
	background-image: url(../img/stop.svg);
}

.player-controls #currentTime
{
	font-size : 1.125rem;
	font-variant : small-caps;
	line-height : 1;

	margin : 0 2rem;

	letter-spacing : .04rem;

	color : #608e9f;
}

.audio-info
{
	line-height : 1;

	display : grid;
	align-items : stretch;

	color : #d1b76f;
}

.audio-info div
{
	font-variant : small-caps;

	margin : 0;
	padding : 0;

	text-align : right;
	letter-spacing : 2px;
}

.track
{
	font-size : 1.125rem;
}

.track-data
{
	font-size : 1rem;
}

/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #f4f5f3;
}

.loader svg
{
	display : flex;

	width : 3rem;
	height : 3rem;

	fill : #74b4d0;
	stroke : #74b4d0;
}

/* responsive */

@media screen and (max-width: 64rem ) /*  screen max 1024px  */

{

.page
{
	grid-template-areas : 'main' 'sidebar';
	grid-template-columns : 1fr;
}

.main
{
	display : grid;
	order : 1;

	width : 100%;
	max-height : 660px;

	grid-template-columns : 1fr;
}

.about
{
	align-self : center;

	margin : auto;

	justify-items : center;
	place-items : center;
}

.about div
{
	margin-left : 0;
}

.sidebar
{
	display : grid;
	order : 2;

	width : 100%;
	max-height : none;
}

.txt-card
{
	padding : 2rem;
}

.player
{
	padding : 2rem;
}

}

/*  desktop wild and tv */

@media screen and (min-width: 120.0625rem) /*  screen max 1921px   */

{

.main
{
	box-shadow : -10px 0 8px -8px rgba(0, 0, 0, 0.2);
}

.sidebar
{
	box-shadow : 10px 0 8px -8px rgba(0, 0, 0, .2);
}

}
