/* css reset | @yojeero | https://github.com/yojeero */
*,::after,::before{box-sizing:border-box}html{box-sizing:border-box;font-size:100%;line-height:1.3;text-size-adjust:100%}body{height:100vh}img,picture{max-width:100%;display:block}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}button,h1,h2,h3,h4,input,label{line-height:1.1}h1,h2,h3,h4,h5,h6{text-wrap:balance;font-size:inherit;font-weight:inherit}button,input,select,textarea{font-family:inherit;font-size:inherit}ol,ul{list-style:none;margin:0;padding:0}a{color:currentColor;cursor:pointer;text-decoration:none}

/* Fonts */

@font-face
{
	font-family : 'Jost';
	font-weight : 400;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/jost-latin-regular.woff2') format('woff2');
}

@font-face
{
	font-family : 'Jost';
	font-weight : 300;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/jost-latin-300.woff2') format('woff2');
}

@font-face
{
	font-family : 'Mabgate-Regular';
	font-weight : 400;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/Mabgate-Regular.woff2') format('woff2');
}

/*  main  */

body
{
	font-family : Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size : 1rem;
	font-weight : 400;
	line-height : 1.6;

	display:grid;
	place-content: center;

	margin : 0;
	padding : 0;

	color : #262626;
	background : url(../img/bg.svg) no-repeat center, #f5f5f5;
	background-size : cover;
}

.page
{
	display : grid;

	width : 100%;
	height : 100%;

	background-color : #fafafa;

	grid-template-areas : 'main sidebar';
	grid-template-columns : 2fr 1fr;
}

.main
{
	display : grid;	
	place-content: center;

	width : 100%;
	height : 100%;
	max-height : 1080px;

	border-radius : 6px;

	grid-area : main;
}

.about
{
	display : grid;

	background : url(../img/walk.svg) no-repeat bottom right, #f5f5f5;
	background-size : 20% auto;

	grid-template-columns : 1fr;
	grid-template-rows : 220px 1fr;
}

.about img
{	
	display: grid;
	place-self: center;
	
	width : 200px;
	height : 200px;

	border-radius : 50%;

	object-fit : cover;
}

.about .h1
{
	padding: 2rem;
	
	font-family: Mabgate-Regular, sans-serif;
	font-size : 6rem;
	font-weight : 400;
	line-height : 1;
}

.about .h1 span
{
	color: #06b6d4;
}

/*  aside  */

.sidebar
{
	display : grid;

	height : 100%; 

	background : #fff;
	border-radius: 6px;

	grid-area: sidebar;
	grid-template-rows : minmax(40%,1fr) minmax(20%,1fr) 200px;
}

h3.txt-label
{
	font-family : Mabgate-Regular, sans-serif;
	font-size : 1.5rem;
	font-variant : small-caps;
	line-height : 3rem;

	color : #171717;
}

.txt-card
{
	font-size : 1.25rem;

	display : grid;
	order: 1;

	margin : auto;
	padding : 2rem 4rem;

	color : #64748b;
}

.txt-card div
{	
	margin-top : 1.25rem;
}

.txt-card a
{
	font-family : Mabgate-Regular, sans-serif;
	color : #171717;
}

.txt-card a:hover ,
.txt-card a:focus
{
	cursor : pointer;
	transition : all .3s;

	color : #06b6d4;
}

.shot
{
	display : grid;
	order : 2;

	width : 100%;
	min-height : 400px;

	background: url(../img/map.png) no-repeat center, #fafafa;
	object-fit: cover;
}

.shot img
{
	width : 100%;
	height : 400px;
}


/*  radio player  */

.audio-player
{
	display : grid;
	order : 3;

	width : 100%;
	height: 200px;

	text-align : right;

	border-radius : 6px;
	background : #f5f5f4;

	grid-template-columns : auto auto;
	place-items : center;
}

.player-controls
{
	display : grid;

	grid-auto-flow : column;
	place-items : center;
}

.playIcon, #playAudio
{
	display : grid;
	
	width : 3.25rem;
	height : 3.25rem;
	
	cursor : pointer;
	transition : all .3s;
}

.stopIcon
{
	display : grid;

	display: none;

	width : 3.25rem;
	height : 3.25rem;

	cursor : pointer;
	transition : all .3s;
}

#currentTime
{
	font-size : 1.125rem;
	font-variant : small-caps;
	line-height : 1;

	margin : 0 2rem;

	transition : all .3s ease-in;
	letter-spacing : .04rem;

	color : #cbd5e1;
}

#currentTime svg
{
	width : 1.5rem;
	height : 1.5rem;

	stroke : #334155;
}

.audio-info
{
	display : grid;
	align-items : stretch;
}

.audio-info p
{
	line-height : 1;
	font-size : 1.125rem;
	
	font-variant : small-caps;

	margin : 0;
	padding : 0;

	text-align : right;
	letter-spacing : 2px;
}

/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #f5f5f5;
}

.loader svg
{
	display : flex;

	width : 3rem;
	height : 3rem;

	fill : #06b6d4;
	stroke : #06b6d4;
}

/* responsive */

@media screen and (max-width: 64rem ) /*  screen max 1024px  */

{

.page
{
	grid-template-areas : 'main' 'sidebar';
	grid-template-columns : 1fr;
}

.main
{
	display : grid;
	order : 1;

	width : 100%;
	height: 100vh;

	grid-template-columns : 1fr;
}

.about
{
	grid-template-columns : 1fr;
}

.sidebar
{
	display : grid;
	order : 2;

	width : 100%;
}

.txt-card
{
	padding : 2rem;
}

.player
{
	padding : 2rem;
}

}

/*  desktop wild and tv */

@media screen and (min-width: 120rem) /*  screen min 1920px   */

{

.page 
{
	width: 120rem;
	height: 67.5rem;
}

.sidebar
{
	box-shadow : 10px 0 8px -8px rgba(0, 0, 0, .2);
}


}